
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  font-family: Courier;
	width: 100%;
}

header {
  display: grid;
	grid-template-columns: 10% 80%;
  flex-direction: row;
  padding: 1%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navigation {
  width: 100%;
}

.banner {
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 1000;
}

.primary-nav {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-between;
}

.nav-elements {
  margin-right: 30px;
}

.nav-holder{
  display: flex;
  justify-content: flex-end;
  width: 90%;
}

.section{
	display: grid;
  grid-template-columns: 100%;
	justify-self: center;
  padding: 0 10% 0 10%;
}

.main-name{
  font-weight: bold;
  font-size: 60px;
  padding-bottom: 5%;
	padding-top: 10%;
}

.hero-content {
  width: 70%;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.snippet {
  /* width: 50%; */
  padding-bottom: 20px;
}
.hero-holder{
  display: flex;

}

/* .portfolio-link{
	border: 2px solid #FFC0CB;
} */
.container {
  display: grid;
  width: 100%;
	grid-template-columns: 70% 30%;
}

.hero-content2{
  font-size: 12px;
}


.portfolio-item:hover .caption{
  opacity: 1;
}

.caption{
  opacity: 0;
}

.portfolio{
  display: flex;
  flex-direction: row;
}

.portfolio-item{
  display: flex;
  margin: 40px 0 40px 0;
}

#hero {
  padding-bottom: 30px;
}

#portfolio{
  display: flex;
  margin: 0 10% 0 10%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #DCDCDC;
  padding-top: 20px;
}

.caption-content {
  width: 600px;
}
[class*="image-caption"] {
  font-weight: bold;
  opacity: 0;
  font-size: 18px;
}

.image-holder{
  height: 350px;
  width: 565px;
  position: relative;
  text-align: center;
}

.img-responsive{
  height: 350px;
	border: 2px solid #FFC0CB;
}
.image-holder:hover .img-responsive{
  opacity: 0.5;
}

.image-holder:hover [class*="image-caption"] {
  opacity: 1;
}

a{
  color:#FF7F50;
}


.image-caption1{
  color:#FF7F50;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 15px;
  font-size: 20px;
}

.image-caption2{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
	color: black;
}
.image-caption4{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
	color: black;
}


.image-caption3{
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
	color: black;
}

.personal-pitch{
  width: 40%;
  /* padding-right: 100px; */
}

#service{
  margin-top: 100px;
  padding: 0 10% 0 10%;
  display: flex;
  justify-content: space-between;
}

.skills {
  width: 45%;
  height: 350px;
}

footer{
  height: 100px;
  padding: 0 10% 0 10%;
  background-color: #FFF0F2;
	width: 100%;
}
.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
  padding-top: 20px;
}
p {
	padding-top: 5px;
}

.skills {
	font-weight: bold;
}

.project-header{
	display: block;
	margin: auto;
}
@media only screen and (max-width: 600px) {
	.image-holder{
		height: 200px;
		width: 300px;
	}
	.img-responsive{
		height: 200px
	}


	.image-caption1{
	  color:#FF7F50;
	  position: absolute;
	  top: 20%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  margin-bottom: 15px;
	  font-size: 15px;
	}

	.image-caption2{
	  position: absolute;
	  top: 55%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-size: 12px;
		color: black;
	}

	.image-caption4{
	  position: absolute;
	  top: 40%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-size: 12px;
		color: black;
	}


	.image-caption3{
	  position: absolute;
	  top: 80%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  font-size: 12px;
		color: black;
	}

	#service{
		display:block;
	}

	.personal-pitch{
		width: 100%
	}
	.skills{
		width: 100%
	}
	.container{
		display: grid;
		width: 100%;
		grid-template-columns: 50% 50%;
	}

	.section {
    display: grid;
    grid-template-columns: 100%;
    padding: 0 2% 0 2%;
	}
	.hero-content{
		width: 100%
	}
	.primary-nav{
		display: flex;
		flex-direction: column;
	}
	.main-name{
		padding-top: 70px;
		font-size: 30px;
	}
	.snippet{
		font-size: 15px;
	}

	}

}
